<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="col-sm-10">
            <ul class="nav navbar-nav">
                <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a href="#" [routerLink]="['/']">Books</a></li>
                <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a href="#" [routerLink]="['/new']" >Create new</a></li>
            </ul>
        </div>
        <div class="col-sm-2">
            <a [routerLink]="['/logout']" class="pull-right" style="margin-top: 15px;">Logout</a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="jumbotron">
        <h1>Book library</h1>
        <p>Angular 2 book library example.</p>
    </div>
</div>

<router-outlet></router-outlet>