<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a href="#" [routerLink]="['/']">Books</a></li>
            <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a href="#" [routerLink]="['/new']" >Create new</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="jumbotron">
        <h1>Book library</h1>
        <p>Angular 2 book library example.</p>
    </div>
</div>

<router-outlet></router-outlet>